snippet describe "Describe block"
describe('${1}', function() {
	it('${2}', function() {
		${0}
	});
});
endsnippet

snippet it "it block"
it('${1}', function() {
	${0}
});
endsnippet

snippet beforeEach "beforeEach block"
beforeEach(function() {
	${0}
});
endsnippet

snippet afterEach "afterEach block"
afterEach(function() {
	${0}
});
endsnippet

snippet suite "TDD Suite"
suite('${1}', function() {
	test('${2}', function() {
		${0}
	});
});
endsnippet
