snippet describe "Describe block"
describe('${1}', () => {
	it('${2}', function() {
		${0}
	});
});
endsnippet

snippet it "it block"
it('${1}', () => {
	${0}
});
endsnippet

snippet beforeEach "beforeEach block"
beforeEach(() => {
	${0}
});
endsnippet

snippet afterEach "afterEach block"
afterEach(() => {
	${0}
});
endsnippet

snippet suite "TDD Suite"
suite('${1}', () => {
	test('${2}', () => {
		${0}
	});
});
endsnippet
